<%= link_to gravatar_for(current_user), current_user %>
<h1 class = "user_info_name col-md-12"><%= current_user.name %></h1>
<span class = "user_info_profile col-md-12"><%= link_to t("view_my_profile"), current_user %></span>
