#areaAnswer {
  overflow-y: auto;
  max-height: 250px;
}

.validate-alert {
  display: none;
}

.show_category {
  border-left:2px, solid, black;
}

.duplicate_nested_form {
  padding-left:5px;
}

.download {
  margin-top: 5px;
}
