.show-question .action-show-question {
  margin-top: 10px
}

.btn-edit-question {
  margin-left:5px;
}

.show-question > h2 {
  font-size: 40px;
}

#area_answer {
  overflow-y: auto;
  max-height: 300px;
}

